
@{
    ViewBag.Title = "BringADish";
}

<h1>Dish Information</h1>
<h3>Please fill out the dish information</h3>
<form name="rsvpInfo" method="post">
    <fieldset>
        <legend>Dish Information</legend>
        Name:<br />
        <input type="text" name="name" id="name" required><br />
        <p id="nameMessage"></p>

        Phone Number:<br />
        <input type="tel" name="phoneNumber" id="phone" required><br />
        <p id="phoneMessage"></p>

        Dish Name:<br />
        <input type="text" name="dishname" id="dishname" required><br />
        <p id="dishnameMessage"></p>

        Dish Description:<br />
        <input type="text" name="dishdes" id="dishdes" required><br />
        <p id="dishdesMessage"></p>
    </fieldset>
    <input id="rsvp" type="submit" value="RSVP">
</form>